deploymentMode: SimpleScalable
loki:
  auth_enabled: false
  schemaConfig:
    configs:
      - from: "2022-01-11"
        index:
          period: 24h
          prefix: loki_index_
        object_store: s3
        schema: v12
        store: boltdb-shipper
  compactor:
    retention_enabled: true
    delete_request_store: s3
    compaction_interval: 10m
    retention_delete_delay: 5m
    retention_delete_worker_count: 150
  tolerations:
    - key: workload.sas.com/class
      operator: Equal
      value: stateless
      effect: NoSchedule
  limits_config:
    allow_structured_metadata: false
  storage:
    bucketNames:
      chunks: loki-chunks
    aws:
      endpoint: http://loki-minio.monitoring.svc:9000
      s3ForcePathStyle: true
minio:
  enabled: true