{
  "apiVersion": "dashboard.grafana.app/v2",
  "kind": "Dashboard",
  "metadata": {
    "name": "ESP_Metrics",
    "generation": 17,
    "creationTimestamp": "2026-08-26T08:27:37Z",
    "labels": {},
    "annotations": {}
  },
  "spec": {
    "annotations": [
      {
        "kind": "AnnotationQuery",
        "spec": {
          "query": {
            "kind": "DataQuery",
            "group": "grafana",
            "version": "v0",
            "spec": {}
          },
          "enable": true,
          "hide": true,
          "iconColor": "rgba(0, 211, 255, 1)",
          "name": "Annotations & Alerts",
          "builtIn": true
        }
      }
    ],
    "cursorSync": "Off",
    "editable": true,
    "elements": {
      "panel-1": {
        "kind": "Panel",
        "spec": {
          "id": 1,
          "title": "ESP server CPU usage",
          "description": "",
          "links": [],
          "data": {
            "kind": "QueryGroup",
            "spec": {
              "queries": [
                {
                  "kind": "PanelQuery",
                  "spec": {
                    "query": {
                      "kind": "DataQuery",
                      "group": "prometheus",
                      "version": "v0",
                      "spec": {
                        "editorMode": "builder",
                        "expr": "cpu{value=\"avg\", namespace=\"$Namespace\", pod=\"$Pod\"}",
                        "format": "time_series",
                        "legendFormat": "__auto",
                        "range": true
                      }
                    },
                    "refId": "A",
                    "hidden": false
                  }
                }
              ],
              "transformations": [],
              "queryOptions": {}
            }
          },
          "vizConfig": {
            "kind": "VizConfig",
            "group": "timeseries",
            "version": "13.0.1+security-01",
            "spec": {
              "options": {
                "annotations": {
                  "clustering": -1,
                  "multiLane": false
                },
                "legend": {
                  "calcs": [],
                  "displayMode": "list",
                  "placement": "bottom",
                  "showLegend": false
                },
                "tooltip": {
                  "hideZeros": false,
                  "mode": "single",
                  "sort": "none"
                }
              },
              "fieldConfig": {
                "defaults": {
                  "unit": "percent",
                  "thresholds": {
                    "mode": "absolute",
                    "steps": [
                      {
                        "value": 0,
                        "color": "green"
                      },
                      {
                        "value": 80,
                        "color": "red"
                      }
                    ]
                  },
                  "color": {
                    "mode": "palette-classic"
                  },
                  "custom": {
                    "axisBorderShow": false,
                    "axisCenteredZero": false,
                    "axisColorMode": "text",
                    "axisLabel": "",
                    "axisPlacement": "auto",
                    "barAlignment": 0,
                    "barWidthFactor": 0.6,
                    "drawStyle": "line",
                    "fillOpacity": 0,
                    "gradientMode": "none",
                    "hideFrom": {
                      "legend": false,
                      "tooltip": false,
                      "viz": false
                    },
                    "insertNulls": false,
                    "lineInterpolation": "linear",
                    "lineWidth": 1,
                    "pointSize": 5,
                    "scaleDistribution": {
                      "type": "linear"
                    },
                    "showPoints": "auto",
                    "showValues": false,
                    "spanNulls": false,
                    "stacking": {
                      "group": "A",
                      "mode": "none"
                    },
                    "thresholdsStyle": {
                      "mode": "off"
                    }
                  }
                },
                "overrides": []
              }
            }
          }
        }
      },
      "panel-10": {
        "kind": "Panel",
        "spec": {
          "id": 10,
          "title": "Events processed by window",
          "description": "",
          "links": [],
          "data": {
            "kind": "QueryGroup",
            "spec": {
              "queries": [
                {
                  "kind": "PanelQuery",
                  "spec": {
                    "query": {
                      "kind": "DataQuery",
                      "group": "prometheus",
                      "version": "v0",
                      "spec": {
                        "editorMode": "code",
                        "exemplar": false,
                        "expr": "sum by (display_name) (\r\n  \r\n  label_join(\r\n    window_processed\r\n{\r\n  project=~\"$Project\",\r\n  cq=~\"$CQ\",\r\n  window=~\"$Window\",\r\n    namespace=\"$Namespace\",\r\npod=\"$Pod\"\r\n}\r\n,\r\n    \"display_name\",\r\n    \"/\",\r\n    \"cq\",\r\n    \"window\"\r\n  )\r\n)",
                        "format": "table",
                        "instant": true,
                        "legendFormat": "{{display_name}}",
                        "range": false
                      }
                    },
                    "refId": "A",
                    "hidden": false
                  }
                }
              ],
              "transformations": [
                {
                  "kind": "Transformation",
                  "group": "sortBy",
                  "spec": {
                    "options": {
                      "fields": {},
                      "sort": [
                        {
                          "desc": true,
                          "field": "Value"
                        }
                      ]
                    }
                  }
                }
              ],
              "queryOptions": {}
            }
          },
          "vizConfig": {
            "kind": "VizConfig",
            "group": "bargauge",
            "version": "13.0.1+security-01",
            "spec": {
              "options": {
                "displayMode": "basic",
                "legend": {
                  "calcs": [],
                  "displayMode": "list",
                  "placement": "bottom",
                  "showLegend": false
                },
                "maxVizHeight": 40,
                "minVizHeight": 16,
                "minVizWidth": 14,
                "namePlacement": "auto",
                "orientation": "horizontal",
                "reduceOptions": {
                  "calcs": [
                    "lastNotNull"
                  ],
                  "fields": "",
                  "values": true
                },
                "showUnfilled": true,
                "sizing": "manual",
                "text": {
                  "titleSize": 14,
                  "valueSize": 14
                },
                "valueMode": "color"
              },
              "fieldConfig": {
                "defaults": {
                  "displayName": "${__field.labels.display_name}",
                  "thresholds": {
                    "mode": "absolute",
                    "steps": [
                      {
                        "value": 0,
                        "color": "blue"
                      }
                    ]
                  },
                  "color": {
                    "mode": "thresholds"
                  }
                },
                "overrides": []
              }
            }
          }
        }
      },
      "panel-11": {
        "kind": "Panel",
        "spec": {
          "id": 11,
          "title": "Time throttled (s)",
          "description": "",
          "links": [],
          "data": {
            "kind": "QueryGroup",
            "spec": {
              "queries": [
                {
                  "kind": "PanelQuery",
                  "spec": {
                    "query": {
                      "kind": "DataQuery",
                      "group": "prometheus",
                      "version": "v0",
                      "spec": {
                        "editorMode": "code",
                        "exemplar": false,
                        "expr": "sum by (display_name) (\r\n  label_join(\r\n    window_throttling\r\n{\r\n  project=~\"$Project\",\r\n  cq=~\"$CQ\",\r\n  window=~\"$Window\",\r\n    namespace=\"$Namespace\",\r\npod=\"$Pod\"\r\n}\r\n,\r\n    \"display_name\",\r\n    \"/\",\r\n    \"cq\",\r\n    \"window\"\r\n  )\r\n)",
                        "format": "table",
                        "instant": true,
                        "legendFormat": "__auto",
                        "range": false
                      }
                    },
                    "refId": "A",
                    "hidden": false
                  }
                }
              ],
              "transformations": [
                {
                  "kind": "Transformation",
                  "group": "sortBy",
                  "spec": {
                    "options": {
                      "fields": {},
                      "sort": [
                        {
                          "field": "Value"
                        }
                      ]
                    }
                  }
                }
              ],
              "queryOptions": {}
            }
          },
          "vizConfig": {
            "kind": "VizConfig",
            "group": "bargauge",
            "version": "13.0.1+security-01",
            "spec": {
              "options": {
                "displayMode": "basic",
                "legend": {
                  "calcs": [],
                  "displayMode": "table",
                  "placement": "bottom",
                  "showLegend": false
                },
                "maxVizHeight": 40,
                "minVizHeight": 16,
                "minVizWidth": 8,
                "namePlacement": "left",
                "orientation": "horizontal",
                "reduceOptions": {
                  "calcs": [
                    "lastNotNull"
                  ],
                  "fields": "",
                  "values": true
                },
                "showUnfilled": true,
                "sizing": "manual",
                "text": {
                  "titleSize": 14,
                  "valueSize": 14
                },
                "valueMode": "color"
              },
              "fieldConfig": {
                "defaults": {
                  "displayName": "${__field.labels.display_name}",
                  "thresholds": {
                    "mode": "absolute",
                    "steps": [
                      {
                        "value": 0,
                        "color": "green"
                      }
                    ]
                  },
                  "color": {
                    "mode": "palette-classic"
                  },
                  "fieldMinMax": false
                },
                "overrides": []
              }
            }
          }
        }
      },
      "panel-14": {
        "kind": "Panel",
        "spec": {
          "id": 14,
          "title": "Current ESP server CPU usage",
          "description": "",
          "links": [],
          "data": {
            "kind": "QueryGroup",
            "spec": {
              "queries": [
                {
                  "kind": "PanelQuery",
                  "spec": {
                    "query": {
                      "kind": "DataQuery",
                      "group": "prometheus",
                      "version": "v0",
                      "spec": {
                        "editorMode": "builder",
                        "exemplar": false,
                        "expr": "cpu{value=\"current\", namespace=\"$Namespace\", pod=\"$Pod\"}",
                        "instant": true,
                        "legendFormat": "__auto",
                        "range": false
                      }
                    },
                    "refId": "A",
                    "hidden": false
                  }
                }
              ],
              "transformations": [],
              "queryOptions": {}
            }
          },
          "vizConfig": {
            "kind": "VizConfig",
            "group": "gauge",
            "version": "13.0.1+security-01",
            "spec": {
              "options": {
                "barShape": "flat",
                "barWidthFactor": 0.5,
                "effects": {
                  "barGlow": false,
                  "centerGlow": false,
                  "gradient": false
                },
                "endpointMarker": "point",
                "minVizHeight": 75,
                "minVizWidth": 75,
                "orientation": "auto",
                "reduceOptions": {
                  "calcs": [
                    "lastNotNull"
                  ],
                  "fields": "",
                  "values": true
                },
                "segmentCount": 1,
                "segmentSpacing": 0.3,
                "shape": "gauge",
                "showThresholdLabels": false,
                "showThresholdMarkers": true,
                "sizing": "auto",
                "sparkline": false,
                "textMode": "auto"
              },
              "fieldConfig": {
                "defaults": {
                  "unit": "percent",
                  "thresholds": {
                    "mode": "absolute",
                    "steps": [
                      {
                        "value": 0,
                        "color": "green"
                      },
                      {
                        "value": 80,
                        "color": "red"
                      }
                    ]
                  },
                  "color": {
                    "mode": "thresholds"
                  }
                },
                "overrides": []
              }
            }
          }
        }
      },
      "panel-15": {
        "kind": "Panel",
        "spec": {
          "id": 15,
          "title": "Uptime",
          "description": "",
          "links": [],
          "data": {
            "kind": "QueryGroup",
            "spec": {
              "queries": [
                {
                  "kind": "PanelQuery",
                  "spec": {
                    "query": {
                      "kind": "DataQuery",
                      "group": "prometheus",
                      "version": "v0",
                      "spec": {
                        "editorMode": "builder",
                        "exemplar": false,
                        "expr": "uptime{namespace=\"$Namespace\", pod=\"$Pod\"}",
                        "instant": true,
                        "legendFormat": "Time (s)",
                        "range": false
                      }
                    },
                    "refId": "A",
                    "hidden": false
                  }
                }
              ],
              "transformations": [],
              "queryOptions": {}
            }
          },
          "vizConfig": {
            "kind": "VizConfig",
            "group": "stat",
            "version": "13.0.1+security-01",
            "spec": {
              "options": {
                "colorMode": "background",
                "graphMode": "none",
                "justifyMode": "auto",
                "orientation": "auto",
                "percentChangeColorMode": "standard",
                "reduceOptions": {
                  "calcs": [
                    "lastNotNull"
                  ],
                  "fields": "",
                  "values": true
                },
                "showPercentChange": false,
                "text": {},
                "textMode": "auto",
                "wideLayout": true
              },
              "fieldConfig": {
                "defaults": {
                  "unit": "s",
                  "thresholds": {
                    "mode": "absolute",
                    "steps": [
                      {
                        "value": 0,
                        "color": "blue"
                      }
                    ]
                  },
                  "color": {
                    "mode": "fixed",
                    "fixedColor": "blue"
                  }
                },
                "overrides": []
              }
            }
          }
        }
      },
      "panel-17": {
        "kind": "Panel",
        "spec": {
          "id": 17,
          "title": "Project status",
          "description": "",
          "links": [],
          "data": {
            "kind": "QueryGroup",
            "spec": {
              "queries": [
                {
                  "kind": "PanelQuery",
                  "spec": {
                    "query": {
                      "kind": "DataQuery",
                      "group": "prometheus",
                      "version": "v0",
                      "spec": {
                        "editorMode": "builder",
                        "exemplar": false,
                        "expr": "project_state{namespace=\"$Namespace\", pod=\"$Pod\"}",
                        "instant": true,
                        "legendFormat": "auto",
                        "range": false
                      }
                    },
                    "refId": "A",
                    "hidden": false
                  }
                }
              ],
              "transformations": [],
              "queryOptions": {}
            }
          },
          "vizConfig": {
            "kind": "VizConfig",
            "group": "stat",
            "version": "13.0.1+security-01",
            "spec": {
              "options": {
                "colorMode": "background_solid",
                "graphMode": "none",
                "justifyMode": "auto",
                "orientation": "auto",
                "percentChangeColorMode": "standard",
                "reduceOptions": {
                  "calcs": [
                    "lastNotNull"
                  ],
                  "fields": "",
                  "values": true
                },
                "showPercentChange": false,
                "textMode": "auto",
                "wideLayout": true
              },
              "fieldConfig": {
                "defaults": {
                  "mappings": [
                    {
                      "type": "value",
                      "options": {
                        "0": {
                          "text": "create",
                          "color": "transparent",
                          "index": 1
                        },
                        "1": {
                          "text": "running",
                          "color": "green",
                          "index": 0
                        },
                        "2": {
                          "text": "stopped",
                          "color": "yellow",
                          "index": 2
                        },
                        "3": {
                          "text": "failed",
                          "color": "red",
                          "index": 3
                        },
                        "4": {
                          "text": "removed",
                          "color": "yellow",
                          "index": 4
                        }
                      }
                    }
                  ],
                  "thresholds": {
                    "mode": "absolute",
                    "steps": [
                      {
                        "value": 0,
                        "color": "green"
                      }
                    ]
                  },
                  "color": {
                    "mode": "palette-classic"
                  }
                },
                "overrides": []
              }
            }
          }
        }
      },
      "panel-18": {
        "kind": "Panel",
        "spec": {
          "id": 18,
          "title": "Lua memory usage",
          "description": "",
          "links": [],
          "data": {
            "kind": "QueryGroup",
            "spec": {
              "queries": [
                {
                  "kind": "PanelQuery",
                  "spec": {
                    "query": {
                      "kind": "DataQuery",
                      "group": "prometheus",
                      "version": "v0",
                      "spec": {
                        "editorMode": "builder",
                        "expr": "memory_lua{value=\"avg\", project=~\"$Project\", cq=~\"$CQ\", window=~\"$Window\", connector=~\"$Connector\", namespace=\"$Namespace\", pod=\"$Pod\"}",
                        "legendFormat": "{{cq}}/{{window}}",
                        "range": true
                      }
                    },
                    "refId": "A",
                    "hidden": false
                  }
                }
              ],
              "transformations": [],
              "queryOptions": {}
            }
          },
          "vizConfig": {
            "kind": "VizConfig",
            "group": "timeseries",
            "version": "13.0.1+security-01",
            "spec": {
              "options": {
                "annotations": {
                  "clustering": -1,
                  "multiLane": false
                },
                "legend": {
                  "calcs": [],
                  "displayMode": "list",
                  "placement": "bottom",
                  "showLegend": true
                },
                "tooltip": {
                  "hideZeros": false,
                  "mode": "single",
                  "sort": "none"
                }
              },
              "fieldConfig": {
                "defaults": {
                  "unit": "kbytes",
                  "thresholds": {
                    "mode": "absolute",
                    "steps": [
                      {
                        "value": 0,
                        "color": "green"
                      },
                      {
                        "value": 80,
                        "color": "red"
                      }
                    ]
                  },
                  "color": {
                    "mode": "palette-classic"
                  },
                  "custom": {
                    "axisBorderShow": false,
                    "axisCenteredZero": false,
                    "axisColorMode": "text",
                    "axisLabel": "",
                    "axisPlacement": "auto",
                    "barAlignment": 0,
                    "barWidthFactor": 0.6,
                    "drawStyle": "line",
                    "fillOpacity": 0,
                    "gradientMode": "none",
                    "hideFrom": {
                      "legend": false,
                      "tooltip": false,
                      "viz": false
                    },
                    "insertNulls": false,
                    "lineInterpolation": "linear",
                    "lineWidth": 1,
                    "pointSize": 5,
                    "scaleDistribution": {
                      "type": "linear"
                    },
                    "showPoints": "auto",
                    "showValues": false,
                    "spanNulls": false,
                    "stacking": {
                      "group": "A",
                      "mode": "none"
                    },
                    "thresholdsStyle": {
                      "mode": "off"
                    }
                  }
                },
                "overrides": []
              }
            }
          }
        }
      },
      "panel-19": {
        "kind": "Panel",
        "spec": {
          "id": 19,
          "title": "Window retention counts",
          "description": "",
          "links": [],
          "data": {
            "kind": "QueryGroup",
            "spec": {
              "queries": [
                {
                  "kind": "PanelQuery",
                  "spec": {
                    "query": {
                      "kind": "DataQuery",
                      "group": "prometheus",
                      "version": "v0",
                      "spec": {
                        "editorMode": "code",
                        "exemplar": false,
                        "expr": "\r\nsort_desc(\r\n  sum by (display_name) (\r\n    label_join(\r\n      window_count{\r\n  project=~\"$Project\",\r\n  cq=~\"$CQ\",\r\n  window=~\"$Window\",\r\n  namespace=\"$Namespace\",\r\npod=\"$Pod\"\r\n},\r\n      \"display_name\",\r\n      \"/\",\r\n      \"cq\",\r\n      \"window\"\r\n    )\r\n  )\r\n)\r\n",
                        "format": "table",
                        "instant": true,
                        "legendFormat": "__auto",
                        "range": false
                      }
                    },
                    "refId": "A",
                    "hidden": false
                  }
                }
              ],
              "transformations": [
                {
                  "kind": "Transformation",
                  "group": "sortBy",
                  "spec": {
                    "options": {
                      "fields": {},
                      "sort": [
                        {
                          "desc": true,
                          "field": "Value"
                        }
                      ]
                    }
                  }
                }
              ],
              "queryOptions": {}
            }
          },
          "vizConfig": {
            "kind": "VizConfig",
            "group": "bargauge",
            "version": "13.0.1+security-01",
            "spec": {
              "options": {
                "displayMode": "basic",
                "legend": {
                  "calcs": [],
                  "displayMode": "list",
                  "placement": "bottom",
                  "showLegend": false
                },
                "maxVizHeight": 40,
                "minVizHeight": 16,
                "minVizWidth": 8,
                "namePlacement": "auto",
                "orientation": "horizontal",
                "reduceOptions": {
                  "calcs": [
                    "lastNotNull"
                  ],
                  "fields": "",
                  "values": true
                },
                "showUnfilled": true,
                "sizing": "manual",
                "text": {
                  "titleSize": 14,
                  "valueSize": 14
                },
                "valueMode": "color"
              },
              "fieldConfig": {
                "defaults": {
                  "displayName": "${__field.labels.display_name}",
                  "thresholds": {
                    "mode": "absolute",
                    "steps": [
                      {
                        "value": 0,
                        "color": "yellow"
                      }
                    ]
                  },
                  "color": {
                    "mode": "fixed",
                    "fixedColor": "blue"
                  }
                },
                "overrides": []
              }
            }
          }
        }
      },
      "panel-2": {
        "kind": "Panel",
        "spec": {
          "id": 2,
          "title": "Window CPU (%)",
          "description": "",
          "links": [],
          "data": {
            "kind": "QueryGroup",
            "spec": {
              "queries": [
                {
                  "kind": "PanelQuery",
                  "spec": {
                    "query": {
                      "kind": "DataQuery",
                      "group": "prometheus",
                      "version": "v0",
                      "spec": {
                        "editorMode": "builder",
                        "expr": "window_cpu{value=\"avg\", project=~\"$Project\", cq=~\"$CQ\", window=~\"$Window\", namespace=\"$Namespace\", pod=\"$Pod\"}",
                        "format": "time_series",
                        "legendFormat": "{{cq}}/{{window}}",
                        "range": true
                      }
                    },
                    "refId": "A",
                    "hidden": false
                  }
                }
              ],
              "transformations": [],
              "queryOptions": {}
            }
          },
          "vizConfig": {
            "kind": "VizConfig",
            "group": "timeseries",
            "version": "13.0.1+security-01",
            "spec": {
              "options": {
                "annotations": {
                  "clustering": -1,
                  "multiLane": false
                },
                "legend": {
                  "calcs": [],
                  "displayMode": "list",
                  "placement": "bottom",
                  "showLegend": true
                },
                "tooltip": {
                  "hideZeros": false,
                  "mode": "single",
                  "sort": "none"
                }
              },
              "fieldConfig": {
                "defaults": {
                  "unit": "percent",
                  "thresholds": {
                    "mode": "absolute",
                    "steps": [
                      {
                        "value": 0,
                        "color": "green"
                      },
                      {
                        "value": 80,
                        "color": "red"
                      }
                    ]
                  },
                  "color": {
                    "mode": "palette-classic-by-name"
                  },
                  "custom": {
                    "axisBorderShow": false,
                    "axisCenteredZero": false,
                    "axisColorMode": "text",
                    "axisLabel": "",
                    "axisPlacement": "auto",
                    "barAlignment": 0,
                    "barWidthFactor": 0.6,
                    "drawStyle": "line",
                    "fillOpacity": 0,
                    "gradientMode": "none",
                    "hideFrom": {
                      "legend": false,
                      "tooltip": false,
                      "viz": false
                    },
                    "insertNulls": false,
                    "lineInterpolation": "linear",
                    "lineWidth": 1,
                    "pointSize": 5,
                    "scaleDistribution": {
                      "type": "linear"
                    },
                    "showPoints": "auto",
                    "showValues": false,
                    "spanNulls": false,
                    "stacking": {
                      "group": "A",
                      "mode": "none"
                    },
                    "thresholdsStyle": {
                      "mode": "off"
                    }
                  }
                },
                "overrides": []
              }
            }
          }
        }
      },
      "panel-20": {
        "kind": "Panel",
        "spec": {
          "id": 20,
          "title": "Current ESP server memory usage",
          "description": "",
          "links": [],
          "data": {
            "kind": "QueryGroup",
            "spec": {
              "queries": [
                {
                  "kind": "PanelQuery",
                  "spec": {
                    "query": {
                      "kind": "DataQuery",
                      "group": "prometheus",
                      "version": "v0",
                      "spec": {
                        "editorMode": "code",
                        "exemplar": false,
                        "expr": "memory{value=\"current\", memtype=\"rss\", namespace=\"$Namespace\",pod=\"$Pod\"}/ignoring(memtype) memory{value=\"current\", memtype=\"total\"}*100",
                        "instant": true,
                        "legendFormat": "__auto",
                        "range": false
                      }
                    },
                    "refId": "A",
                    "hidden": false
                  }
                }
              ],
              "transformations": [],
              "queryOptions": {}
            }
          },
          "vizConfig": {
            "kind": "VizConfig",
            "group": "gauge",
            "version": "13.0.1+security-01",
            "spec": {
              "options": {
                "barShape": "flat",
                "barWidthFactor": 0.5,
                "effects": {
                  "barGlow": false,
                  "centerGlow": false,
                  "gradient": false
                },
                "endpointMarker": "point",
                "minVizHeight": 75,
                "minVizWidth": 75,
                "orientation": "auto",
                "reduceOptions": {
                  "calcs": [
                    "lastNotNull"
                  ],
                  "fields": "",
                  "values": true
                },
                "segmentCount": 1,
                "segmentSpacing": 0.3,
                "shape": "gauge",
                "showThresholdLabels": false,
                "showThresholdMarkers": true,
                "sizing": "auto",
                "sparkline": false,
                "textMode": "auto"
              },
              "fieldConfig": {
                "defaults": {
                  "unit": "percent",
                  "thresholds": {
                    "mode": "absolute",
                    "steps": [
                      {
                        "value": 0,
                        "color": "green"
                      },
                      {
                        "value": 80,
                        "color": "red"
                      }
                    ]
                  },
                  "color": {
                    "mode": "thresholds"
                  }
                },
                "overrides": []
              }
            }
          }
        }
      },
      "panel-21": {
        "kind": "Panel",
        "spec": {
          "id": 21,
          "title": "ESP server memory usage",
          "description": "",
          "links": [],
          "data": {
            "kind": "QueryGroup",
            "spec": {
              "queries": [
                {
                  "kind": "PanelQuery",
                  "spec": {
                    "query": {
                      "kind": "DataQuery",
                      "group": "prometheus",
                      "version": "v0",
                      "spec": {
                        "editorMode": "builder",
                        "expr": "memory{value=\"avg\", namespace=\"$Namespace\", pod=\"$Pod\"}",
                        "format": "time_series",
                        "legendFormat": "{{memtype}}",
                        "range": true
                      }
                    },
                    "refId": "A",
                    "hidden": false
                  }
                }
              ],
              "transformations": [],
              "queryOptions": {}
            }
          },
          "vizConfig": {
            "kind": "VizConfig",
            "group": "timeseries",
            "version": "13.0.1+security-01",
            "spec": {
              "options": {
                "annotations": {
                  "clustering": -1,
                  "multiLane": false
                },
                "legend": {
                  "calcs": [],
                  "displayMode": "list",
                  "placement": "bottom",
                  "showLegend": true
                },
                "tooltip": {
                  "hideZeros": false,
                  "mode": "single",
                  "sort": "none"
                }
              },
              "fieldConfig": {
                "defaults": {
                  "unit": "kbytes",
                  "thresholds": {
                    "mode": "absolute",
                    "steps": [
                      {
                        "value": 0,
                        "color": "green"
                      },
                      {
                        "value": 80,
                        "color": "red"
                      }
                    ]
                  },
                  "color": {
                    "mode": "palette-classic"
                  },
                  "custom": {
                    "axisBorderShow": false,
                    "axisCenteredZero": false,
                    "axisColorMode": "text",
                    "axisLabel": "",
                    "axisPlacement": "auto",
                    "barAlignment": 0,
                    "barWidthFactor": 0.6,
                    "drawStyle": "line",
                    "fillOpacity": 0,
                    "gradientMode": "none",
                    "hideFrom": {
                      "legend": false,
                      "tooltip": false,
                      "viz": false
                    },
                    "insertNulls": false,
                    "lineInterpolation": "linear",
                    "lineWidth": 1,
                    "pointSize": 5,
                    "scaleDistribution": {
                      "type": "linear"
                    },
                    "showPoints": "auto",
                    "showValues": false,
                    "spanNulls": false,
                    "stacking": {
                      "group": "A",
                      "mode": "none"
                    },
                    "thresholdsStyle": {
                      "mode": "off"
                    }
                  }
                },
                "overrides": []
              }
            }
          }
        }
      },
      "panel-5": {
        "kind": "Panel",
        "spec": {
          "id": 5,
          "title": "Connector rates",
          "description": "",
          "links": [],
          "data": {
            "kind": "QueryGroup",
            "spec": {
              "queries": [
                {
                  "kind": "PanelQuery",
                  "spec": {
                    "query": {
                      "kind": "DataQuery",
                      "group": "prometheus",
                      "version": "v0",
                      "spec": {
                        "editorMode": "builder",
                        "expr": "connector_rate{value=\"avg\", project=~\"$Project\", cq=~\"$CQ\", window=~\"$Window\", connector=~\"$Connector\", namespace=\"$Namespace\", pod=\"$Pod\"}",
                        "legendFormat": "{{cq}}/{{connector}}",
                        "range": true
                      }
                    },
                    "refId": "A",
                    "hidden": false
                  }
                }
              ],
              "transformations": [],
              "queryOptions": {}
            }
          },
          "vizConfig": {
            "kind": "VizConfig",
            "group": "timeseries",
            "version": "13.0.1+security-01",
            "spec": {
              "options": {
                "annotations": {
                  "clustering": -1,
                  "multiLane": false
                },
                "legend": {
                  "calcs": [],
                  "displayMode": "list",
                  "placement": "bottom",
                  "showLegend": true
                },
                "tooltip": {
                  "hideZeros": false,
                  "mode": "single",
                  "sort": "none"
                }
              },
              "fieldConfig": {
                "defaults": {
                  "unit": "eps",
                  "thresholds": {
                    "mode": "absolute",
                    "steps": [
                      {
                        "value": 0,
                        "color": "green"
                      },
                      {
                        "value": 80,
                        "color": "red"
                      }
                    ]
                  },
                  "color": {
                    "mode": "palette-classic"
                  },
                  "custom": {
                    "axisBorderShow": false,
                    "axisCenteredZero": false,
                    "axisColorMode": "text",
                    "axisLabel": "",
                    "axisPlacement": "auto",
                    "barAlignment": 0,
                    "barWidthFactor": 0.6,
                    "drawStyle": "line",
                    "fillOpacity": 0,
                    "gradientMode": "none",
                    "hideFrom": {
                      "legend": false,
                      "tooltip": false,
                      "viz": false
                    },
                    "insertNulls": false,
                    "lineInterpolation": "linear",
                    "lineWidth": 1,
                    "pointSize": 5,
                    "scaleDistribution": {
                      "type": "linear"
                    },
                    "showPoints": "auto",
                    "showValues": false,
                    "spanNulls": false,
                    "stacking": {
                      "group": "A",
                      "mode": "none"
                    },
                    "thresholdsStyle": {
                      "mode": "off"
                    }
                  }
                },
                "overrides": []
              }
            }
          }
        }
      },
      "panel-6": {
        "kind": "Panel",
        "spec": {
          "id": 6,
          "title": "Connector status",
          "description": "",
          "links": [],
          "data": {
            "kind": "QueryGroup",
            "spec": {
              "queries": [
                {
                  "kind": "PanelQuery",
                  "spec": {
                    "query": {
                      "kind": "DataQuery",
                      "group": "prometheus",
                      "version": "v0",
                      "spec": {
                        "editorMode": "code",
                        "exemplar": false,
                        "expr": "label_join(\r\n  connector_state\r\n{\r\n  project=~\"$Project\",\r\n  cq=~\"$CQ\",\r\n  window=~\"$Window\",\r\n  connector=~\"$Connector\",\r\n    namespace=\"$Namespace\",\r\npod=\"$Pod\"\r\n}\r\n,\r\n  \"join_key\",\r\n  \"|\",\r\n  \"namespace\",\r\n  \"pod\",\r\n  \"project\",\r\n  \"cq\",\r\n  \"window\",\r\n  \"connector\"\r\n)",
                        "format": "table",
                        "instant": true,
                        "legendFormat": "__auto",
                        "range": false
                      }
                    },
                    "refId": "A",
                    "hidden": false
                  }
                },
                {
                  "kind": "PanelQuery",
                  "spec": {
                    "query": {
                      "kind": "DataQuery",
                      "group": "prometheus",
                      "version": "v0",
                      "spec": {
                        "editorMode": "code",
                        "exemplar": false,
                        "expr": "label_join(\r\n  connector_rate{value=\"avg\",\r\n  project=~\"$Project\",\r\n  cq=~\"$CQ\",\r\n  window=~\"$Window\",\r\n  connector=~\"$Connector\",\r\n      namespace=\"$Namespace\",\r\npod=\"$Pod\"\r\n},\r\n  \"join_key\",\r\n  \"|\",\r\n    \"namespace\",\r\n  \"pod\",\r\n  \"project\",\r\n  \"cq\",\r\n  \"window\",\r\n  \"connector\"\r\n)",
                        "format": "table",
                        "instant": true,
                        "legendFormat": "__auto",
                        "range": false
                      }
                    },
                    "refId": "B",
                    "hidden": false
                  }
                }
              ],
              "transformations": [
                {
                  "kind": "Transformation",
                  "group": "joinByField",
                  "spec": {
                    "options": {
                      "byField": "join_key",
                      "mode": "outerTabular"
                    }
                  }
                },
                {
                  "kind": "Transformation",
                  "group": "organize",
                  "spec": {
                    "options": {
                      "excludeByName": {
                        "Time": true,
                        "Time 1": true,
                        "Time 2": true,
                        "Value": false,
                        "__name__": true,
                        "__name__ 1": true,
                        "__name__ 2": true,
                        "category": true,
                        "category 1": true,
                        "category 2": true,
                        "connector 1": false,
                        "connector 2": true,
                        "container": true,
                        "container 1": true,
                        "container 2": true,
                        "cq 2": true,
                        "endpoint": true,
                        "endpoint 1": true,
                        "endpoint 2": true,
                        "instance": true,
                        "instance 1": true,
                        "instance 2": true,
                        "job": true,
                        "job 1": true,
                        "job 2": true,
                        "join_key": true,
                        "namespace": true,
                        "namespace 2": true,
                        "pod": true,
                        "pod 1": true,
                        "pod 2": true,
                        "project": true,
                        "project 1": true,
                        "project 2": true,
                        "project_label": true,
                        "project_label 1": true,
                        "project_label 2": true,
                        "service": true,
                        "service 1": true,
                        "service 2": true,
                        "trigger": true,
                        "trigger 1": true,
                        "trigger 2": true,
                        "value": true,
                        "window 2": true
                      },
                      "includeByName": {},
                      "indexByName": {
                        "Time 1": 7,
                        "Time 2": 20,
                        "Value #A": 3,
                        "Value #B": 4,
                        "__name__ 1": 8,
                        "__name__ 2": 21,
                        "category 1": 9,
                        "category 2": 22,
                        "connector 1": 2,
                        "connector 2": 23,
                        "container 1": 10,
                        "container 2": 24,
                        "cq 1": 0,
                        "cq 2": 25,
                        "endpoint 1": 11,
                        "endpoint 2": 26,
                        "instance 1": 12,
                        "instance 2": 27,
                        "job 1": 13,
                        "job 2": 28,
                        "join_key": 5,
                        "namespace 1": 14,
                        "namespace 2": 29,
                        "pod 1": 15,
                        "pod 2": 30,
                        "project 1": 16,
                        "project 2": 31,
                        "project_label 1": 17,
                        "project_label 2": 32,
                        "service 1": 18,
                        "service 2": 33,
                        "trigger 1": 19,
                        "trigger 2": 34,
                        "value": 6,
                        "window 1": 1,
                        "window 2": 35
                      },
                      "renameByName": {
                        "Value": "Status",
                        "Value #A": "Status",
                        "Value #B": "Rate (per second, avg)",
                        "connector": "Connector",
                        "connector 1": "Connector",
                        "cq": "CQ",
                        "cq 1": "CQ",
                        "window": "Window",
                        "window 1": "Window",
                        "window 2": ""
                      }
                    }
                  }
                }
              ],
              "queryOptions": {}
            }
          },
          "vizConfig": {
            "kind": "VizConfig",
            "group": "table",
            "version": "13.0.1+security-01",
            "spec": {
              "options": {
                "cellHeight": "md",
                "showHeader": true,
                "sortBy": []
              },
              "fieldConfig": {
                "defaults": {
                  "thresholds": {
                    "mode": "absolute",
                    "steps": [
                      {
                        "value": 0,
                        "color": "green"
                      }
                    ]
                  },
                  "color": {
                    "mode": "thresholds"
                  },
                  "custom": {
                    "align": "auto",
                    "cellOptions": {
                      "type": "auto"
                    },
                    "filterable": false,
                    "footer": {
                      "reducers": []
                    },
                    "inspect": false,
                    "wrapHeaderText": false,
                    "wrapText": false
                  },
                  "fieldMinMax": false
                },
                "overrides": [
                  {
                    "matcher": {
                      "id": "byName",
                      "scope": "series",
                      "options": "Status"
                    },
                    "properties": [
                      {
                        "id": "mappings",
                        "value": [
                          {
                            "options": {
                              "0": {
                                "color": "orange",
                                "index": 1,
                                "text": "Stopped"
                              },
                              "1": {
                                "color": "green",
                                "index": 0,
                                "text": "Running"
                              },
                              "2": {
                                "color": "blue",
                                "index": 3,
                                "text": "Finished"
                              },
                              "3": {
                                "color": "red",
                                "index": 2,
                                "text": "Failed"
                              }
                            },
                            "type": "value"
                          }
                        ]
                      },
                      {
                        "id": "custom.cellOptions",
                        "value": {
                          "type": "color-text"
                        }
                      }
                    ]
                  }
                ]
              }
            }
          }
        }
      },
      "panel-7": {
        "kind": "Panel",
        "spec": {
          "id": 7,
          "title": "Python memory usage",
          "description": "",
          "links": [],
          "data": {
            "kind": "QueryGroup",
            "spec": {
              "queries": [
                {
                  "kind": "PanelQuery",
                  "spec": {
                    "query": {
                      "kind": "DataQuery",
                      "group": "prometheus",
                      "version": "v0",
                      "spec": {
                        "editorMode": "builder",
                        "expr": "memory_python{value=\"avg\", project=~\"$Project\", cq=~\"$CQ\", window=~\"$Window\", connector=~\"$Connector\", namespace=\"$Namespace\", pod=\"$Pod\"}",
                        "legendFormat": "{{cq}}/{{window}}",
                        "range": true
                      }
                    },
                    "refId": "A",
                    "hidden": false
                  }
                }
              ],
              "transformations": [],
              "queryOptions": {}
            }
          },
          "vizConfig": {
            "kind": "VizConfig",
            "group": "timeseries",
            "version": "13.0.1+security-01",
            "spec": {
              "options": {
                "annotations": {
                  "clustering": -1,
                  "multiLane": false
                },
                "legend": {
                  "calcs": [],
                  "displayMode": "list",
                  "placement": "bottom",
                  "showLegend": true,
                  "sortBy": "Name",
                  "sortDesc": true
                },
                "tooltip": {
                  "hideZeros": false,
                  "mode": "single",
                  "sort": "none"
                }
              },
              "fieldConfig": {
                "defaults": {
                  "unit": "kbytes",
                  "thresholds": {
                    "mode": "absolute",
                    "steps": [
                      {
                        "value": 0,
                        "color": "green"
                      },
                      {
                        "value": 80,
                        "color": "red"
                      }
                    ]
                  },
                  "color": {
                    "mode": "palette-classic"
                  },
                  "custom": {
                    "axisBorderShow": false,
                    "axisCenteredZero": false,
                    "axisColorMode": "text",
                    "axisLabel": "",
                    "axisPlacement": "auto",
                    "barAlignment": 0,
                    "barWidthFactor": 0.6,
                    "drawStyle": "line",
                    "fillOpacity": 0,
                    "gradientMode": "none",
                    "hideFrom": {
                      "legend": false,
                      "tooltip": false,
                      "viz": false
                    },
                    "insertNulls": false,
                    "lineInterpolation": "linear",
                    "lineWidth": 1,
                    "pointSize": 5,
                    "scaleDistribution": {
                      "type": "linear"
                    },
                    "showPoints": "auto",
                    "showValues": false,
                    "spanNulls": false,
                    "stacking": {
                      "group": "A",
                      "mode": "none"
                    },
                    "thresholdsStyle": {
                      "mode": "off"
                    }
                  }
                },
                "overrides": []
              }
            }
          }
        }
      },
      "panel-8": {
        "kind": "Panel",
        "spec": {
          "id": 8,
          "title": "Window rates (implied events/s)",
          "description": "",
          "links": [],
          "data": {
            "kind": "QueryGroup",
            "spec": {
              "queries": [
                {
                  "kind": "PanelQuery",
                  "spec": {
                    "query": {
                      "kind": "DataQuery",
                      "group": "prometheus",
                      "version": "v0",
                      "spec": {
                        "editorMode": "builder",
                        "expr": "window_rate{value=\"avg\", project=~\"$Project\", cq=~\"$CQ\", window=~\"$Window\", namespace=\"$Namespace\", pod=\"$Pod\"}",
                        "legendFormat": "{{cq}}/{{window}}",
                        "range": true
                      }
                    },
                    "refId": "A",
                    "hidden": false
                  }
                }
              ],
              "transformations": [],
              "queryOptions": {}
            }
          },
          "vizConfig": {
            "kind": "VizConfig",
            "group": "timeseries",
            "version": "13.0.1+security-01",
            "spec": {
              "options": {
                "annotations": {
                  "clustering": -1,
                  "multiLane": false
                },
                "legend": {
                  "calcs": [],
                  "displayMode": "list",
                  "placement": "bottom",
                  "showLegend": true
                },
                "tooltip": {
                  "hideZeros": false,
                  "mode": "single",
                  "sort": "none"
                }
              },
              "fieldConfig": {
                "defaults": {
                  "unit": "eps",
                  "thresholds": {
                    "mode": "absolute",
                    "steps": [
                      {
                        "value": 0,
                        "color": "green"
                      },
                      {
                        "value": 80,
                        "color": "red"
                      }
                    ]
                  },
                  "color": {
                    "mode": "palette-classic-by-name"
                  },
                  "custom": {
                    "axisBorderShow": false,
                    "axisCenteredZero": false,
                    "axisColorMode": "text",
                    "axisLabel": "",
                    "axisPlacement": "auto",
                    "barAlignment": 0,
                    "barWidthFactor": 0.6,
                    "drawStyle": "line",
                    "fillOpacity": 0,
                    "gradientMode": "none",
                    "hideFrom": {
                      "legend": false,
                      "tooltip": false,
                      "viz": false
                    },
                    "insertNulls": false,
                    "lineInterpolation": "linear",
                    "lineWidth": 1,
                    "pointSize": 5,
                    "scaleDistribution": {
                      "type": "linear"
                    },
                    "showPoints": "auto",
                    "showValues": false,
                    "spanNulls": false,
                    "stacking": {
                      "group": "A",
                      "mode": "none"
                    },
                    "thresholdsStyle": {
                      "mode": "off"
                    }
                  }
                },
                "overrides": []
              }
            }
          }
        }
      }
    },
    "layout": {
      "kind": "TabsLayout",
      "spec": {
        "tabs": [
          {
            "kind": "TabsLayoutTab",
            "spec": {
              "title": "System Metrics",
              "layout": {
                "kind": "RowsLayout",
                "spec": {
                  "rows": [
                    {
                      "kind": "RowsLayoutRow",
                      "spec": {
                        "title": "General",
                        "collapse": false,
                        "fillScreen": true,
                        "layout": {
                          "kind": "GridLayout",
                          "spec": {
                            "items": [
                              {
                                "kind": "GridLayoutItem",
                                "spec": {
                                  "x": 0,
                                  "y": 0,
                                  "width": 4,
                                  "height": 3,
                                  "element": {
                                    "kind": "ElementReference",
                                    "name": "panel-15"
                                  }
                                }
                              },
                              {
                                "kind": "GridLayoutItem",
                                "spec": {
                                  "x": 4,
                                  "y": 0,
                                  "width": 4,
                                  "height": 3,
                                  "element": {
                                    "kind": "ElementReference",
                                    "name": "panel-17"
                                  }
                                }
                              }
                            ]
                          }
                        }
                      }
                    },
                    {
                      "kind": "RowsLayoutRow",
                      "spec": {
                        "title": "CPU",
                        "collapse": false,
                        "fillScreen": true,
                        "layout": {
                          "kind": "GridLayout",
                          "spec": {
                            "items": [
                              {
                                "kind": "GridLayoutItem",
                                "spec": {
                                  "x": 0,
                                  "y": 0,
                                  "width": 5,
                                  "height": 10,
                                  "element": {
                                    "kind": "ElementReference",
                                    "name": "panel-14"
                                  }
                                }
                              },
                              {
                                "kind": "GridLayoutItem",
                                "spec": {
                                  "x": 5,
                                  "y": 0,
                                  "width": 19,
                                  "height": 10,
                                  "element": {
                                    "kind": "ElementReference",
                                    "name": "panel-1"
                                  }
                                }
                              }
                            ]
                          }
                        }
                      }
                    },
                    {
                      "kind": "RowsLayoutRow",
                      "spec": {
                        "title": "Memory",
                        "collapse": false,
                        "fillScreen": true,
                        "layout": {
                          "kind": "GridLayout",
                          "spec": {
                            "items": [
                              {
                                "kind": "GridLayoutItem",
                                "spec": {
                                  "x": 0,
                                  "y": 0,
                                  "width": 5,
                                  "height": 10,
                                  "element": {
                                    "kind": "ElementReference",
                                    "name": "panel-20"
                                  }
                                }
                              },
                              {
                                "kind": "GridLayoutItem",
                                "spec": {
                                  "x": 5,
                                  "y": 0,
                                  "width": 19,
                                  "height": 10,
                                  "element": {
                                    "kind": "ElementReference",
                                    "name": "panel-21"
                                  }
                                }
                              }
                            ]
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          {
            "kind": "TabsLayoutTab",
            "spec": {
              "title": "Window Metrics",
              "layout": {
                "kind": "AutoGridLayout",
                "spec": {
                  "maxColumnCount": 3,
                  "columnWidthMode": "standard",
                  "rowHeightMode": "standard",
                  "fillScreen": true,
                  "items": [
                    {
                      "kind": "AutoGridLayoutItem",
                      "spec": {
                        "element": {
                          "kind": "ElementReference",
                          "name": "panel-8"
                        }
                      }
                    },
                    {
                      "kind": "AutoGridLayoutItem",
                      "spec": {
                        "element": {
                          "kind": "ElementReference",
                          "name": "panel-2"
                        }
                      }
                    },
                    {
                      "kind": "AutoGridLayoutItem",
                      "spec": {
                        "element": {
                          "kind": "ElementReference",
                          "name": "panel-19"
                        }
                      }
                    },
                    {
                      "kind": "AutoGridLayoutItem",
                      "spec": {
                        "element": {
                          "kind": "ElementReference",
                          "name": "panel-11"
                        }
                      }
                    },
                    {
                      "kind": "AutoGridLayoutItem",
                      "spec": {
                        "element": {
                          "kind": "ElementReference",
                          "name": "panel-10"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          {
            "kind": "TabsLayoutTab",
            "spec": {
              "title": "Connector Metrics",
              "layout": {
                "kind": "AutoGridLayout",
                "spec": {
                  "maxColumnCount": 1,
                  "columnWidthMode": "standard",
                  "rowHeightMode": "standard",
                  "fillScreen": true,
                  "items": [
                    {
                      "kind": "AutoGridLayoutItem",
                      "spec": {
                        "element": {
                          "kind": "ElementReference",
                          "name": "panel-5"
                        }
                      }
                    },
                    {
                      "kind": "AutoGridLayoutItem",
                      "spec": {
                        "element": {
                          "kind": "ElementReference",
                          "name": "panel-6"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          {
            "kind": "TabsLayoutTab",
            "spec": {
              "title": "Runtime Components",
              "layout": {
                "kind": "AutoGridLayout",
                "spec": {
                  "maxColumnCount": 1,
                  "columnWidthMode": "standard",
                  "rowHeightMode": "standard",
                  "fillScreen": true,
                  "items": [
                    {
                      "kind": "AutoGridLayoutItem",
                      "spec": {
                        "element": {
                          "kind": "ElementReference",
                          "name": "panel-7"
                        }
                      }
                    },
                    {
                      "kind": "AutoGridLayoutItem",
                      "spec": {
                        "element": {
                          "kind": "ElementReference",
                          "name": "panel-18"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        ]
      }
    },
    "links": [],
    "liveNow": false,
    "preload": false,
    "tags": [
        "esp_metrics",
        "esp",
        "sas-esp"
    ],
    "timeSettings": {
      "timezone": "browser",
      "from": "now-1h",
      "to": "now",
      "autoRefresh": "auto",
      "autoRefreshIntervals": [
        "5s",
        "10s",
        "30s",
        "1m",
        "5m",
        "15m",
        "30m",
        "1h",
        "2h",
        "1d"
      ],
      "hideTimepicker": false,
      "fiscalYearStartMonth": 0
    },
    "title": "ESP Metrics",
    "variables": [
      {
        "kind": "QueryVariable",
        "spec": {
          "name": "Namespace",
          "current": {
            "text": "",
            "value": ""
          },
          "hide": "dontHide",
          "refresh": "onDashboardLoad",
          "skipUrlSync": false,
          "query": {
            "kind": "DataQuery",
            "group": "prometheus",
            "version": "v0",
            "spec": {
              "qryType": 1,
              "query": "label_values(namespace)",
              "refId": "PrometheusVariableQueryEditor-VariableQuery"
            },
            "labels": {
              "grafana.app/export-label": "prometheus-1"
            }
          },
          "regex": "",
          "regexApplyTo": "value",
          "sort": "disabled",
          "definition": "label_values(namespace)",
          "options": [],
          "multi": false,
          "includeAll": false,
          "allValue": ".*",
          "allowCustomValue": false
        }
      },
      {
        "kind": "QueryVariable",
        "spec": {
          "name": "Pod",
          "current": {
            "text": "",
            "value": ""
          },
          "hide": "dontHide",
          "refresh": "onDashboardLoad",
          "skipUrlSync": false,
          "query": {
            "kind": "DataQuery",
            "group": "prometheus",
            "version": "v0",
            "spec": {
              "qryType": 1,
              "query": "label_values({namespace=\"$Namespace\"},pod)",
              "refId": "PrometheusVariableQueryEditor-VariableQuery"
            },
            "labels": {
              "grafana.app/export-label": "prometheus-1"
            }
          },
          "regex": "",
          "regexApplyTo": "value",
          "sort": "disabled",
          "definition": "label_values({namespace=\"$Namespace\"},pod)",
          "options": [],
          "multi": false,
          "includeAll": false,
          "allowCustomValue": false
        }
      },
      {
        "kind": "QueryVariable",
        "spec": {
          "name": "Project",
          "current": {
            "text": "",
            "value": ""
          },
          "hide": "dontHide",
          "refresh": "onDashboardLoad",
          "skipUrlSync": false,
          "query": {
            "kind": "DataQuery",
            "group": "prometheus",
            "version": "v0",
            "spec": {
              "qryType": 1,
              "query": "label_values({namespace=\"$Namespace\", pod=\"$Pod\"},project)",
              "refId": "PrometheusVariableQueryEditor-VariableQuery"
            },
            "labels": {
              "grafana.app/export-label": "prometheus-1"
            }
          },
          "regex": "",
          "regexApplyTo": "value",
          "sort": "disabled",
          "definition": "label_values({namespace=\"$Namespace\", pod=\"$Pod\"},project)",
          "options": [],
          "multi": false,
          "includeAll": true,
          "allValue": ".*",
          "allowCustomValue": false
        }
      },
      {
        "kind": "QueryVariable",
        "spec": {
          "name": "CQ",
          "current": {
            "text": "",
            "value": ""
          },
          "hide": "dontHide",
          "refresh": "onDashboardLoad",
          "skipUrlSync": false,
          "query": {
            "kind": "DataQuery",
            "group": "prometheus",
            "version": "v0",
            "spec": {
              "qryType": 1,
              "query": "label_values(window_rate{project=~\"$Project\", namespace=\"$Namespace\", pod=\"$Pod\"},cq)",
              "refId": "PrometheusVariableQueryEditor-VariableQuery"
            },
            "labels": {
              "grafana.app/export-label": "prometheus-1"
            }
          },
          "regex": "",
          "regexApplyTo": "value",
          "sort": "disabled",
          "definition": "label_values(window_rate{project=~\"$Project\", namespace=\"$Namespace\", pod=\"$Pod\"},cq)",
          "options": [],
          "multi": false,
          "includeAll": true,
          "allValue": ".*",
          "allowCustomValue": false
        }
      },
      {
        "kind": "QueryVariable",
        "spec": {
          "name": "Window",
          "current": {
            "text": "",
            "value": ""
          },
          "hide": "dontHide",
          "refresh": "onDashboardLoad",
          "skipUrlSync": false,
          "query": {
            "kind": "DataQuery",
            "group": "prometheus",
            "version": "v0",
            "spec": {
              "qryType": 1,
              "query": "label_values(window_rate{project=~\"$Project\", cq=~\"$CQ\", namespace=\"$Namespace\", pod=\"$Pod\"},window)",
              "refId": "PrometheusVariableQueryEditor-VariableQuery"
            },
            "labels": {
              "grafana.app/export-label": "prometheus-1"
            }
          },
          "regex": "",
          "regexApplyTo": "value",
          "sort": "disabled",
          "definition": "label_values(window_rate{project=~\"$Project\", cq=~\"$CQ\", namespace=\"$Namespace\", pod=\"$Pod\"},window)",
          "options": [],
          "multi": true,
          "includeAll": true,
          "allValue": ".*",
          "allowCustomValue": false
        }
      },
      {
        "kind": "QueryVariable",
        "spec": {
          "name": "Connector",
          "current": {
            "text": "",
            "value": ""
          },
          "hide": "dontHide",
          "refresh": "onDashboardLoad",
          "skipUrlSync": false,
          "query": {
            "kind": "DataQuery",
            "group": "prometheus",
            "version": "v0",
            "spec": {
              "qryType": 1,
              "query": "label_values(connector_state{project=~\"$Project\", cq=~\"$CQ\", window=~\"$Window\", namespace=\"$Namespace\", pod=\"$Pod\"},connector)",
              "refId": "PrometheusVariableQueryEditor-VariableQuery"
            },
            "labels": {
              "grafana.app/export-label": "prometheus-1"
            }
          },
          "regex": "",
          "regexApplyTo": "value",
          "sort": "disabled",
          "definition": "label_values(connector_state{project=~\"$Project\", cq=~\"$CQ\", window=~\"$Window\", namespace=\"$Namespace\", pod=\"$Pod\"},connector)",
          "options": [],
          "multi": true,
          "includeAll": true,
          "allValue": ".*",
          "allowCustomValue": false
        }
      }
    ]
  }
}