# Place overrides for the Prometheus Operator Helm Chart Here

# Prometheus Operator Helm Chart
# https://https://github.com/prometheus-community/helm-charts/tree/main/charts/kube-prometheus-stack
#
# CRDs
# https://github.com/coreos/prometheus-operator/blob/master/Documentation/api.md
#
# Default Values
# https://github.com/prometheus-community/helm-charts/blob/main/charts/kube-prometheus-stack/values.yaml

# This sample demonstrates path-based ingress

# NOTE: Edit hostnames and ingress port
#
#
# THIS IS WHAT NEEDS TO BE USED FOR AZURE DEPLOYMENTS
# The file is a copy of the user-values-prom-operator-path.yaml file in
# $USER_DIR/../../viya4-monitoring-kubernetes/samples/ingress/monitoring/user-values-prom-path.yaml
#
prometheus:
  # Disable default configuration of NodePort
  service:
    type: ClusterIP
    nodePort: null
  ingress:
    enabled: true
    ingressClassName: nginx
    hosts:
    - monitoring.ingress-nginx.espsc-kc5-m1.espstudio.sashq-d.openstack.sas.com
  prometheusSpec:
    routePrefix: /prometheus
    externalUrl: https://monitoring.ingress-nginx.espsc-kc5-m1.espstudio.sashq-d.openstack.sas.com/prometheus
 
alertmanager:
  # Disable default configuration of NodePort
  service:
    type: ClusterIP
    nodePort: null
  ingress:
    enabled: true
    ingressClassName: nginx
    hosts:
    - monitoring.ingress-nginx.espsc-kc5-m1.espstudio.sashq-d.openstack.sas.com
    paths:
    - /alertManager
  alertmanagerSpec:
    routePrefix: /alertManager
    externalUrl: https://monitoring.ingress-nginx.espsc-kc5-m1.espstudio.sashq-d.openstack.sas.com/alertManager

grafana:
  # Additional configuration necessary to serve Grafana from a subpath
  "grafana.ini":
    server:
      protocol: http
      domain: monitoring.ingress-nginx.espsc-kc5-m1.espstudio.sashq-d.openstack.sas.com
      root_url: https://monitoring.ingress-nginx.espsc-kc5-m1.espstudio.sashq-d.openstack.sas.com/grafana
      serve_from_sub_path: true
  # Disable default configuration of NodePort
  service:
    type: ClusterIP
    nodePort: null
  ingress:
    enabled: true
    ingressClassName: nginx
    hosts:
    - monitoring.ingress-nginx.espsc-kc5-m1.espstudio.sashq-d.openstack.sas.com
    path: /grafana
